


{% extends 'core/base.html' %}
{% block content %}



            <div id="page-wrapper">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-head-line">Inicio</h1>

                        </div>
                    </div>
                    <!-- /. ROW  -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="main-box mb-red">
                                <a href="{% url 'newfactura' %}">
                                    <i class="fa fa-bolt fa-5x"></i>
                                    <h5>Nueva Factura</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="main-box mb-dull">
                                <a href="{% url 'listfactura' %}">
                                    <i class="fa fa-plug fa-5x"></i>
                                    <h5>Lista Facturas</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="main-box mb-pink">
                                <a href="{% url 'buscarstock' %}">
                                    <i class="fa fa-dollar fa-5x"></i>
                                    <h5>Stock</h5>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- /. ROW  -->



                    <!--/.ROW-->

                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
            </div>
            <!-- /. WRAPPER  -->



{% endblock content %}