
{% extends 'core/base.html' %}
{% block content %}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Lista Factura</h1>

            </div>
        </div>
        <div class='container '>

            <div class='container'>
                <div class="row">
                  <div class="col-md-12 search pb-4">
                      <form method="get">
                          <div id="custom-search-input">
                              <div class="input-group col-md-12">
                                  <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                                  <span class="input-group-list">
                                      <i class="icon icon-search"></i>
                                      <button type="submit" class="btn btn-success">Buscar</button>
                                  </span>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
                  <table class="table table-responsive  table-striped table-dark">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Factura</th>
                          <th scope="col">Fecha Compra</th>
                          <th scope="col">Rut Proveedor</th>
                          <th scope="col">Nombre Proveedor</th>

                          <th scope="col">Direccion Proveedor</th>
                          <th scope="col">Cuidad Proveedor</th>
                          <th scope="col">Accion</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for p in facturas %}
                          <tr>
                              <th scope="row">{{p.id}}</th>
                              <td>{{p.codigo}}</td>
                              <td>{{p.fecha_compra}}</td>
                              <td>{{p.proveedor.rut_p}}</td>
                              <td>{{p.proveedor.nombre_p}}</td>
                              <td>{{p.proveedor.direccion}}</td>
                              <td>{{p.proveedor.cuidad}}</td>
                              <td><a class='btn btn-success' href="{% url 'detallefactura' p.id %}">Ver</a>


                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
              </div>

        </div>

    </div>
</div>
{% endblock content %}