
{% extends 'core/base.html' %}
{% block content %}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Lista Producto</h1>

            </div>
            <div class=" d-flex p-3" >
                <a class="btn btn-success" href="{% url 'export_users_xls' %}">Exportar Excel</a>
            </div>

        </div>
        <div class='container '>

            <div class='container'>
                {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
                          <a type="button" class="close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close" >
                              <span aria-hidden="true">&times;</span>
                          </a>
                          {{ message | safe }}
                      </div>
                  {% endfor %}
                <div class="row">
                  <div class="col-md-12 search pb-4">
                      <form method="get">
                          <div id="custom-search-input">
                              <div class="input-group col-md-12">
                                  <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                                  <span class="input-group-list">
                                      <i class="icon icon-search"></i>
                                      <button type="submit" class="btn btn-success">Buscar</button>
                                  </span>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

                  <table class="table table-responsive table-striped table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Codigo</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Serie</th>
                          <th scope="col">Imagen</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Accion</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for p in product %}
                          <tr>
                              <th scope="row">{{p.codigo}}</th>
                              <td>{{p.nombre}}</td>
                              {% if p.serie %}
                              <td>{{ p.serie }}</td>
                              {% else %}
                              <td>-</td>
                              {% endif %}
                              {% if p.imagen %}
                              <td>Si</td>
                              {% else %}
                              <td>No</td>
                              {% endif %}

                              <td>$ {{p.formatNumber}}</td>
                              <td>{% if p.estado %}

                                  Activo
                                  {% else %}
                                  Inactivo
                                  {% endif %}
                                </td>
                                <td><a  class='btn btn-success' href="{% url 'detalleproducto' p.codigo %}">Ver</a></td>

                                <td>                                {%if request.user.is_superuser %}
                                    <a class='btn btn-warning' href="{% url 'updateproduct' p.codigo %}">Modificar</a>
                                  {% if p.estado %}

                                  <a  class='btn btn-danger' href="{% url 'confirmcambioestado' p.codigo%}">Dar de Baja</a></td>
                                  {% else %}

                                  {% endif %}
                                </tr>
                                {% endif %}
                                </tr>
                          {% endfor %}
                      </tbody>
                    </table>
              </div>

        </div>

    </div>
</div>
{% endblock content %}